.phone_book{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 1020px;
	margin: 20px auto;
}
.phone_book > div{
	width: 50%;
	background-color: black;
}
.phone_book input:hover,
.phone_book li:hover,
.phone:hover{
	background-color: rgba(235, 178, 178, 0.6);
	color: maroon;
}
.show_BD{
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.phone_book input::placeholder{
	color: deeppink;
}
.phone_book input{
	background-color: rgba(223, 159, 159, 0.432);
	border: none;
	color: deeppink;
	padding: 5px;
	max-height: 36px;
}
.contacts,
.change_contact,
.add_contact,
.show_BD{
	min-height: 231px;
	max-height: 320px;
	padding: 10px 20px;
	background-color: black;
	color: deeppink;
}
.contacts, .show_BD > *{
	flex-grow: 1;
	flex-shrink: 0;
}
.contacts{
	background-color:black;
	color: deeppink;
	text-align: center;
	
}
.phone_book h2{
	font-size: 20px;
	margin-bottom: 10px;
}
.button_number_phone{
	display: flex;
	flex-direction: column;
	
}
.add_numberPH, .del_more-number{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	border: none;
	background-color: rgba(223, 159, 159, 0.432);
	color: deeppink;
	box-shadow: 0 0 25px deeppink;
	cursor: pointer;
	outline: none;
}
.addPhoto{
	color: deeppink;
}
.phone{
	line-height: 16px;
	font-size: 16px;
	padding: 7px;
	width: 83%;
	text-align: left;
	background-color: rgba(223, 159, 159, 0.432);
}
.number_phone{
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.list_number_phone{
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
	width: 100%;
}
.number_contact{
	width: 90%;
}
.cont4{
	overflow-y:scroll;
	min-height: 200px;
	max-height: 200px;
	width: 80%;
	margin: 0 auto;
	padding: 10px 5px;
}
.title-phonebook{
	padding-top: 20px;
	width: 30%;
}
.form_Ph-B{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 225px;
	width: 100%;
	padding: 5px;
}
.form_Ph-B > *{
	flex-grow: 1;
	flex-shrink: 0;
}
.cont_right > * {
	width: 75%;
	margin: 2px;
	padding: 5px;
	flex-shrink: 0;
}
.cont_right .number_phone {
	width: 78%;
}
.cont_right{
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 190px;
	overflow-y: auto;
	margin-bottom: 10px;
	padding: 10px 5px 30px 5px;
}
.button_add,
.button_change,
.button_remove,
.bn-search,
.del_concact{
	padding: 5px;
	margin: 0;
	width: 25%;
	margin-top: 20px;
	background-color: rgba(223, 159, 159, 0.432);
	color: deeppink;
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 25px deeppink;
	cursor: pointer;
	outline: none;
}
.add_numberPH:hover,
.del_more-number:hover,
.button_add:hover,
.button_change:hover,
.button_remove:hover,
.del_concact:hover{
	color: rgb(207, 23, 23);
	box-shadow: 0 0 35px rgb(233, 39, 39);
	background-color: black;
}
.name_contact:hover::placeholder{
	color: maroon;
}
.bn-search:hover{
	color: rgb(207, 23, 23);
	box-shadow: 0 0 30px rgb(207, 23, 23);
}
.del_concact{
	width: 70px;
	margin-right: 5px;
}
.button_add{
	margin-bottom: 30px;
}
.button_change, .button_remove{
	width: 60%;
	box-shadow: 0 0 20px deeppink;
}
.list_contacts{
	padding: 10px 0;
}
.list_contacts li {
	min-height: 20px;
	cursor: pointer;
	padding: 5px  20px;
	list-style-type: none;
	background-color:rgba(223, 159, 159, 0.432);
	font-size: 16px;
	white-space: wrap;
	margin: 3px;
	text-align: left;
	width: 76%;
	position: relative;
}
.list_contacts li:nth-of-type(even){
	color:rgb(22, 4, 34);
}
.number_contact{
	width: 80%;
	padding: 5px;
	margin-top: 7px;
}
.new_number_phone{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.new_number_phone .number_contact{
	padding: 7px;
}
.new_number_phone input{
	background-color:rgba(223, 159, 159, 0.2);
}
.new_number_phone input::placeholder{
	color:rebeccapurple;
}
.cont_phohe-number{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.change_contact-button{
	display: flex;
	justify-content: center;
	align-items: center;
}
.change_contact .title-phonebook,
.add_contact .title-phonebook{
	display: flex;
	flex-direction: column;
	padding-top: 0;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.change_contact .title-phonebook > *{
	flex-grow: 1;
	flex-shrink: 0;
}
.change_contact-button button {
	width: 70%;
	flex-shrink: 0;
	flex-grow: 1;
}
.change_contact .addPhoto{
	margin-top: 0;
	margin-bottom: 5px;
}
.birthDayContacts{
	text-align: left;
	width: 60%;
	overflow-y: auto;
	height: 190px;
}
.show_BD .title-phonebook{
	width: 10%;
}
.birthDayContacts li {
	min-height: 20px;
	padding: 5px 20px;
	background-color:rgba(223, 159, 159, 0.432);
	font-size: 16px;
	white-space: wrap;
	margin: 3px;
	text-align: left;
}
.birthDayContacts li:nth-child(even){
	color:rgb(22, 4, 34);
}
.photoContact{
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	border-radius: 49.8%;
	width: 100px;
	height: 100px;
	box-shadow: 0 0 50px deeppink;
	background-size: cover;
	background-color:rgba(223, 159, 159, 0.05);
}
.fl_inp{
	display:none;
}
.addPhoto{ 
	position: relative;
	margin-top: 30px;
	width: 100px;
	height: 100px;
}
.addPhoto label{			
	border-radius: 50%;
	width: 100px;
	height: 100px;
	cursor:pointer;
	background:  transparent;
	z-index: 1;
}
::-webkit-scrollbar { 
	width: 3px; height: 3px;
}
::-webkit-scrollbar-button { 
	background-color: #666;
}
::-webkit-scrollbar-track {  
	background-color: rgba(223, 159, 159, 0.432);
}
::-webkit-scrollbar-track-piece { 
	background-color: deeppink;
}
::-webkit-scrollbar-thumb { 
	height: 50px; background-color: #666; border-radius: 3px;
}
::-webkit-scrollbar-corner {
	 background-color: #999;
}
::-webkit-resizer { 
	background-color: #666;
}
.autocomplete {
	position: relative;
	display: inline-block;
	padding-right: 5px;
	width: 60%;
	margin: 10px 0;
}
.bn-search{
	position:  absolute;
	right: 2px;
	top: 0;
	background-color: transparent;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	margin-top: 0;
	font-size: 16px;
}
#mySearch {
	width: 90%;
	padding: 5px 10px;
	font-size: 14px;
	background-color: rgba(223, 159, 159, 0.2);
	border: none;
	color: deeppink;
}
#mySearch::placeholder{
	color:rgb(192, 12, 108);
}
.awesomplete{
	width: 78%;
}
.awesomplete > ul {
	background: hsla(0,0%,100%,.9);
	background: linear-gradient(to bottom right, rgba(223, 159, 159, 0.9), hsla(0,0%,100%,.8));
}
.awesomplete > ul:before{
	background: rgb(83, 55, 55);
}
.awesomplete > ul > li[aria-selected="true"] {
	background: rgba(145, 95, 95, 0.2);
	color: white;
}
.awesomplete mark {
	background: rgb(218, 86, 86);
}
.awesomplete > ul > li:hover {
	background: rgb(201, 86, 86);
	color: black;
}
.check,
.checked{
    display: none;
}
.check + label, 
.checked + label {
    display: inline-block;
    padding-left: 28px;
    line-height: 20px;
}
.check + label:before,
.check:not(:checked) + label:before,
.checked + label:before,
.checked:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
	background: rgba(204, 77, 183, 0.5);
	box-shadow: 0 0 25px deeppink;
	border-radius: 100%;
}
.checked + label:before,
.checked:not(:checked) + label:before{
	box-shadow: 0 0 35px deeppink;
}
.cont_choose{
	position: absolute;
	right: -40px;
}
.check + label:hover:before,
.check:not(:checked) + label:hover:before{
	box-shadow: 0 0 35px rgb(240, 3, 3);
	background:black;
}
.checkAll{
	position: relative;
}
.check:checked + label:after,
.check:not(:checked) + label:after,
.checked:checked + label:after,
.checked:not(:checked) + label:after{
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.check:checked + label:after,
.checked:checked + label:after{
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 2px solid #e145a3;
    border-bottom: 2px solid #e145a3;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}