<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<link rel="stylesheet" href="https://cdn.rawgit.com/LeaVerou/awesomplete/gh-pages/awesomplete.css">
		<link href="css/reset.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
	</head>
	<body>
		<div class="phone_book example1">
			<div>
				<div class="add_contact">
					<form name="add_contact" class="form_Ph-B" action="#">
						<div class="title-phonebook">
							<h2>Добавить контакт:</h2>
							<div class="addPhoto">
								<label>
									<input class="fl_inp" type="file" name="file">
									<img class="photoContact" src="" alt="">
								</label>
							</div>
						</div>	
						<div class="cont_right">
							<input type="text" class="name_contact" placeholder="Имя контакта...">
							<div class="number_phone">
								<div class="list_number_phone">
									<div class="cont_phohe-number">
										<div class='phone'>Телефон</div>
										<button class="add_numberPH">+</button>
									</div>
									<div class="cont_number_phone"></div>
									<template id="tmpl_addNumber">
										<div class='new_number_phone'>
											<input type="text" class="number_contact" maxlength="12" placeholder="Номер контакта...">
											<button class="del_more-number">-</button>
										</div>
									</template>
								</div>
							</div>
							<input type="date" name="date" class="birthDay_contact" value="" placeholder="Дата рождения..." />
							<button type="submit" class="button_add">Создать</button>
						</div>
					</form>
				</div>
			</div>
			<div>
				<div class='show_BD'>
					<div class="title-phonebook">
						<h2>Именинники:</h2>
					</div>
					<ul class='birthDayContacts'></ul>
					<script type="text/template" class="tmpl">
						<li class='person-birthDayContacts'>
							<%-value%>
						</li>
					</script>
				</div>
			</div>
			<div>
				<div class="contacts">
					<h2>Список контактов:</h2>
					<button class="del_concact">Удалить</button>
					<input type="checkbox" id="checked" class="checked"/><label class="checkAll" for='checked'>Все</label>
					<div class="autocomplete">
						<input id="mySearch" type="text" placeholder="Поиск">
						<button class='bn-search'>
							<svg class="svg_search"  aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" class="svg-inline--fa fa-search fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
								<path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4
									2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
								</path>
							</svg>
						</button>
					</div>
					<div class="cont4">
						<ul class="list_contacts"></ul>
						<script type="text/template" class="tmpl-contacts">
							<li class="cur_contact" data-id=<%-idContact%>>
								<%-nameContact%>
								<input type="checkbox" class="check" id=<%-idContact%>><label class="cont_choose" for=<%-idContact%>></label>
							</li>
						</script>
					</div>
				</div>
			</div>
			<div>
				<div class="change_contact">
					<form name="change_contact" class="form_Ph-B" action="#">
						<div class="title-phonebook">
							<div class="addPhoto">
								<label>
									<input class="fl_inp" type="file" name="file" disabled>
									<img src="" class="photoContact" alt="">
								</label>
							</div>
							<button class="button_change">Изменить</button>
							<button class="button_remove">Удалить</button>
						</div>
						<div class="cont_right">
							<input type="text" class="name_contact" placeholder="Имя контакта..." disabled>
							<div class="number_phone">
								<div class="list_number_phone">
									<div class="cont_phohe-number">
										<div class='phone'>Телефон</div>
										<button class="add_numberPH" disabled>+</button>
									</div>
									<div class="cont_number_phone"></div>
								</div>
							</div>
							<input type="date" name="date2" class="birthDay_contact" value="" placeholder="Дата рождения..." disabled />
						</div>
					</form>
				</div>
			</div>
		</div>
		<script src="https://cdn.rawgit.com/LeaVerou/awesomplete/gh-pages/awesomplete.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.3.0/lodash.js"></script>
		<script type="text/javascript" src="js/phonebook.js"></script>
	</body>
</html>